.btn {
    margin: 30px;
}

.btn{
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
}

.random {
    margin-right: 100px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #E3E36A;
    font-weight: bold;
    border: 2px solid #0f2027;
    padding: 10px;

}

.btn {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #E3E36A;
    font-weight: bold;
    border: 2px solid #0f2027;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
}